html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {margin: 0;	padding: 0;	border: 0; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline; background: transparent;} main, article, aside, figure, footer, header, nav, section, details, summary,img {display: block;} html {box-sizing: border-box;} *,*:before,*:after {box-sizing: inherit;} img,object,embed {max-width: 100%;} ul {list-style: none;} blockquote, q {quotes: none;} blockquote:before,blockquote:after,q:before,q:after {content: ''; content: none;} a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;} del {text-decoration: line-through;} abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;} table {border-collapse: separate; border-spacing: 0;} th {font-weight: bold; vertical-align: bottom;} td {font-weight: normal; vertical-align: top;} hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;} input, select {vertical-align: middle;} input[type="radio"] {vertical-align: text-bottom;} input[type="checkbox"] {vertical-align: bottom;} input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit; outline:none;}input,button,textarea,select{*font-size:100%;}fieldset,input,button,textarea,select{border:none; padding:0; margin:0; background:none;}a{text-decoration:none;} table {font-size: inherit; font: 100%;}
small {font-size: 85%;} strong {font-weight: bold;} td, td img {vertical-align: top;} sub, sup {font-size: 75%; line-height: 0; position: relative;} sup {top: -0.5em;} sub {bottom: -0.25em;} pre, code, kbd, samp {font-family: monospace, sans-serif;}

body{font: 400 18px/28px 'Lexend';color: #68665F;text-rendering: optimizelegibility !important;background: #fcfcfc;}

*{
	--cor1: #8ACC39;
	 
	scrollbar-width: auto;
	scrollbar-color: var(--cor1) #dbe0e5;
    scroll-behavior: smooth;

}
	
*::-webkit-scrollbar { width: 8px}
*::-webkit-scrollbar-track {background: #dbe0e5;}
*::-webkit-scrollbar-thumb {background-color: var(--cor1);}

::selection {background: var(--cor1);color:#fff;}
::-webkit-selection {background: var(--cor1);color:#fff;} 
::-moz-selection {background: var(--cor1);color:#fff;}

footer{background: #30473C;}
	footer .centro{display: flex;justify-content: space-between;width: 100%;max-width: 1232px;padding: 12px 20px 13px;margin: 0 auto;}
		footer .centro p{color: #AED1C1;font-size: 14px;line-height: 16px;}
		footer .centro a:link,
		footer .centro a:active,
		footer .centro a:visited{color: #AED1C1;display: block;font-size: 14px;line-height: 16px;transition: all ease 0.5s;}
		footer .centro a:hover{color: #fff;}

	._320 footer .centro{flex-direction: column;justify-content: center;gap: 10px;}
		._320 footer .centro p{font-size: 13px;text-align: center;}
		footer .centro a:link,
		._320 footer .centro a:active,
		._320 footer .centro a:visited{font-size: 13px;text-align: center;}

footer .centro .links {
    display: flex;
    gap: 20px;
}
._320 footer .centro .links {
    flex-direction: column;
    gap: 2px;
}